@import "../../CSCCRecylce/variable.scss";

.partner {
    max-width: 1110px;
    margin: 0 auto;
    padding: 5rem 0rem;
    .title-partner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 0;
            font-size: 3rem;
        }
        margin-bottom: 5rem;
    }
    h3 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 5rem;
    }
}
.col2-partner {
    font-size: 1.8rem;

    b {
        color: $main-color;
        font-size: 5rem;
        font-weight: normal;
        margin-left: 10px;
    }
    em {
        font-style: normal;
        color: $main-color;
        font-size: 3rem;
    }
}
