html {
  font-size: 62.5% !important;
  font-family: "Quicksand", sans-serif !important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
